spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: payment-service
server:
  port: ${PAYMENT_SERVICE_PORT:8083}
management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://zipkin:9411/api/v2/spans}
