apiVersion: v1
kind: Service
metadata:
  name: swagger-ui
  namespace: limitedcart
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: swagger-ui
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: swagger-ui
  namespace: limitedcart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swagger-ui
  template:
    metadata:
      labels:
        app: swagger-ui
    spec:
      containers:
        - name: swagger-ui
          image: swaggerapi/swagger-ui:v5.17.2
          ports:
            - containerPort: 8080
          env:
            - name: SWAGGER_JSON_URL
              value: "/docs/product"
            - name: URLS
              value: "[ { url: '/docs/auth', name: 'Auth Service' }, { url: '/docs/products', name: 'Product Service' }, { url: '/docs/inventory', name: 'Inventory Service' }, { url: '/docs/orders', name: 'Order Service' }, { url: '/docs/payments', name: 'Payment Service' }, { url: '/docs/notifications', name: 'Notification Service' } ]"
