apiVersion: v1
kind: Service
metadata:
  name: temporal-ui
  namespace: limitedcart
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: temporal-ui
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-ui
  namespace: limitedcart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: temporal-ui
  template:
    metadata:
      labels:
        app: temporal-ui
    spec:
      enableServiceLinks: false
      containers:
        - name: temporal-ui
          image: temporalio/ui:2.20.0
          ports:
            - containerPort: 8080
          env:
            - name: TEMPORAL_ADDRESS
              value: "temporal-service:7233"
            - name: TEMPORAL_UI_PUBLIC_PATH
              value: "/temporal"
