apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: limitedcart
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: limitedcart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: limitedcart/frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
